<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Product Add</title>
        <link rel="stylesheet" href="../../styles/styles.css">
    </head>
    <body>
        <div id="interface">
        <header id="headerProduct">
            <h1>Product Add</h1>
        </header>
        <section id="bodySection">
            <div id="addPage">
            <table id="productTable">
                <p>SKU</p>
                <p>Name</p>
                <p>Price ($)</p>
                <p>Type</p>
            </table>
            </div>        
        </section>
        <footer id="footerProduct">
            <p>Scandiweb Test Assignment</p>
        </footer>
        </div>
    </body>
</html>